@charset "utf-8";
/* CSS Document */
body {
	/*background-image:url(../img/fondo.jpg);*/
  background-image:url(../img/dark2.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color:#333;
	min-width: 239px;
}

header {
	width:960px;
	height:150px;
	background-color:#FFF;
	box-shadow:0 0 10px #000000;
	-webkit-box-shadow:0 0 20px #000000;
	-moz-box-shadow:0 0 20px #000000;
	margin-left: auto;
	margin-right: auto;
}

input[type=checkbox] {
	width: initial;
	margin-bottom:20px;
}

#titulo {
	width: 560px;
	height:auto;
	float:left;
	text-align:center;
	margin-top:80px;
}

#titulo h1 {
	font-family:"Arial Rounded MT Bold", Arial;
	font-size:20px;
	color:#3a3a3a;
}

nav, #menu, .menu {
	width:860px;
	height:60px;
	padding-left:40px;
	margin-left: auto;
	margin-right: auto;
}
#menu, .menu {
	/*padding-left:200px; */
}
nav ul, #menu ul, .menu ul {
	margin:0;
	padding:0;
	list-style-type:none;
}

nav ul li a, #menu ul li a, .menu ul li a {
	display:block;
	color:#FFF;
	text-transform:uppercase;
	text-decoration:none;
	float:left;
	font-size:18px;
	margin-right:10px;
	padding:10px;
	margin-top:10px;

}
#menu ul li a, .menu ul li a{
	color: #FFF;
	background-color:#2B3653;
	border-radius:10px;
	padding-bottom:10px;
}
nav ul li a:hover {
	background-color:#FFF;
	border-radius:10px;
	color:#3a3a3a;
	padding-bottom:10px;
}
#menu ul li a:hover, .menu ul li a:hover {
	background-color:#7A8CBA;
	color:#3a3a3a;
}

#contenedor, .contenedor {
	width:900px;
	height: auto;
	background-color:#FFF;
	box-shadow:0 0 10px #000000;
	-webkit-box-shadow:0 0 20px #000000;
	-moz-box-shadow:0 0 10px #000000;
	margin-left: auto;
	margin-right: auto;
	padding:30px;
	position:relative;
}
.contenedor{
	display: none;
	position:relative; 
	left:670px;
}
#slider {
	
	
}

#beneficios {
	width:100%;
	height: 470px;
	position:relative;
	top:20px;
}

#beneficios h2 {
	font-family:"Arial Rounded MT Bold", Arial;
	font-size:40px;
	color:#3a3a3a;
	text-align:center;
	
}

#beneficios h3 {
	font-family:"Arial Rounded MT Bold", Arial;
	font-size:17px;
	color:#4b4b4b;
	text-align:center;
	line-height:0px;
}

.bene1, .bene2, .bene3 {
	width:250px;
	height:270px;
	background-color:rgba(76,92,125,0.5);
	border-radius:10px;
	float:left;
	margin-top:30px;
	background-repeat:no-repeat;
	background-position:bottom center;
	padding: 15px;
	text-align:center; 
	line-height:20px;
}

.bene1, .bene2 {
	margin-right:30px;
}

.bene1 {
	background-image:url(../img/bene1.png);	
}

.bene2 {
	background-image:url(../img/bene2.png);	
}

.bene3 {
	background-image:url(../img/bene3.png);	
}	
	
#beneficios h4 {
	font-family:"Arial Rounded MT Bold", Arial;
	font-size:15px;
	color:#4b4b4b;
	text-align:center;
	line-height:0px;
}	

#info {
	width: 650px;
	height: auto;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

#info h3 {
	font-family:"Arial Rounded MT Bold", Arial;
	font-size:17px;
	color:#3a3a3a;
}

#imagenMenu {
	width:100%;
	height:395px;
	background-image:url(../img/menu_solo.gif);
	background-repeat:no-repeat;
}

footer {
	width:960px;
	height:80px;
	margin-left:auto;
	margin-right:auto;
}

#logo2 {
	width:84px;
	height:68px;
	float:left;
	margin-top:10px;
}

#datos {
	color:#FFF;
	font-size:14px;
	width:746px;
	height:68px;
	text-align:center;
	margin-top:30px;
	float:left;
}

footer a {
	color:#FFF;
	text-decoration:none;
}

#redes {
	width:130px;
	float:right;
	margin-top:20px;
	
}

#tituloseccion1 {
	width:800px;
	text-align:right;
	background-color:#3a3a3a;
	padding-right:100px;
	margin-top:50px;
	color:#FFF;
	padding-top:10px;
	padding-bottom:1px;
	line-height:0;
	
}

#tituloseccion1 h2 {
	font-weight:normal;
}
		
#iconoipad {
	width:100px;
	height:127px;
	background-image:url(../img/icono_ipad.png);
	position:absolute;
	left:840px;
	top:30px;
	z-index:5px;
}

#iconoipad1, #iconoipad2, #iconoipad3, #iconoipad4, #iconoipad5, #iconoipad6 {
	width:100px;
	height:127px;

	position:absolute;
	left:840px;
	top:30px;
	z-index:5px;
}
/*
#iconoipad1{
	background-image:url(../img/icono_beneficios.png);
}
#iconoipad2 {
	background-image:url(../img/icono_productos.png);
}

#iconoipad3 {
	background-image:url(../img/icono_nosotros.png);
}

#iconoipad4 {
	background-image:url(../img/icono_contacto.png);
}

#iconoipad5 {
	background-image:url(../img/icono_demo.png);
}

#iconoipad6 {
	background-image:url(../img/icono_usuario.png);
}*/

.darkClass
{
    background-color: #F7D266;
	filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 20;
    height: 150%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
}


#caracteristicas {
	width:800px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:60px;
	position:relative;
}

#caracteristicas2 {
	width:600px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:60px;
	position:relative;
}

.caract {
	width:100%;
	height:auto;
	border-bottom:#3a3a3a dashed 2px;
	margin-botton:10px;
}

.caract2 {
	width:100%;
	height:auto;
	margin-bottom:10px;
}
.icono {
	width:75px;
	height:76px;
	float:left;
	margin-right:20px;
	margin-top:20px;
}

.icono2 {
	width:300px;
	height:304px;
	float:left;
	margin-right:20px;
	margin-top:20px;
}
.texto {
	width:700px;
	height:auto;
	float:left;
}

.texto2 {
	width:600px;
	height:auto;
	margin-left:100px;
	text-align:justify;
	
}

.texto3 {
	width:600px;
	height:auto;
	float:right;
}

.texto4 {
	width:450px;
	height:auto;
	float:right;
}
.texto5 {
	width:800px;
	height:auto;
	float:left;
}

.borrar {
	clear:both;
}

.texto h3, .mision h3, .valor h3 {
	color:#3a3a3a;
}

.texto3 h3 {
	color:#3a3a3a;
}

#imagenbeneficios {
	width:800px;
	height:151px;
	background-image:url(../img/imagen_beneficios.jpg);
	margin-top:40px;
}

#imagendemo {
	width:800px;
	height:151px;
	background-image:url(../img/imagen_demo.jpg);
	margin-top:40px;
}

#imagennosotros {
	width:800px;
	height:151px;
	background-image:url(../img/imagen_nosotros.jpg);
}

#imagenproductos {
	width:800px;
	height:153px;
	background-image:url(../img/imagen_productos.jpg);
	margin-top:40px;
}

#imagencontacto {
	width:151px;
	height:800px;
	background-image:url(../img/imagen_contacto.jpg);
	float:left;
}

#imagenusuario {
	width:151px;
	height:496px;
	background-image:url(../img/imagen_usuario.jpg);
	float:left;
}

.mision, .vision, .valor {
	width:220px;
	height:300px;
	padding: 15px;
	float:left;
	margin-top:20px;
	text-align:center;
}

.vision {
	border-radius:10px;
	background-color:#3a3a3a;
	color:#FFF;
	margin-left:20px;
	margin-right:20px;
}

.icono_productos {
	width:150px;
	height:150px;
	float:left;
	margin-right:20px;
	margin-top:20px;
	border-radius:15px;
	border:1px solid #666;
	padding:20px;
}

.texto_prod {
	width:580px;
	height:auto;
	float:right;
}

.texto_prod a, .texto5 a, .texto4 a, .info a, #formulario a {
	background-color:#3a3a3a;
	color:#FFF;
	text-decoration:none;
	font-size:12px;
	padding:5px;
	border-radius:5px;
}

.texto_prod a:hover, .texto5 a:hover, .texto4 a:hover, .info a:hover {
	background-color:#4f576c;
}

#formulario {
	width:630px;
	height:auto;
	float:right;
}

input[type=text], input[type=date], input[type=email], input[type=file], input[type=url], input[type=date], input[type=password], input[type=tel], input[type=button], input[type=submit], textarea, select {
	width:100%;
	margin-bottom:20px;
	background-color: #BFCEE6;
	border-radius:5px;
	border:0;
	padding:5px;
	
}
.envio {
	background-color:#3a3a3a !important;
	color:#FFF;
	cursor:pointer;
}
.cancelar {
	border: 1px solid #3a3a3a;
	color:#3a3a3a;
	background-color: #BFCEE6;
	cursor: pointer;
}

.datostelefono, .datosemail {
	width:450px;
	height:35px;
	padding-left:65px;
	padding-top:15px;
	background-repeat:no-repeat;
}

.datostelefono {
	margin-bottom:10px;
	background-image:url(../img/icon_telefono.jpg);
}

.datosemail {
	background-image:url(../img/icon_mail.jpg);
}

#imagenes_producto {
	width:200px;
	height:50px;
	margin:auto;
}

#imagenes_productos img {
	margin-right:10px;
}

#fondoipad {
	width:917px;
	height:1093px;
	background-image:url(../img/ipad_demo.png);
	padding-top:126px;
	padding-left:126px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	overflow:auto;
}

.slide1 {
	background-image:url(../img/slide1b.jpg);
	background-repeat:none;
}

#idioma ul {
	list-style-type:none;
	padding:0;
	margin:0;
	
}
#banderas {
	width:65px;
	height:32px;
	float:right;
}
#idioma ul li a {
	width:32px;
	height:32px;
	float:left;
}
#idioma ul li a.esp {
	background-image:url(../img/Spain-32.png);
	
}
#idioma ul li a.esp:hover {
	background-image:url(../img/Spain-32b.png);
	
}
#idioma ul li a.ing {
	background-image:url(../img/United-Kingdom-32.png);
}
#idioma ul li a.ing:hover {
	background-image:url(../img/United-Kingdom-32b.png);
}
.datos {
	clear:both;
}
.espacio_botonera {
	margin-left:80px;
}
#menuclientes{
	width:151px;
	height:600px;
	float:left;
	background-color: #3a3a3a;
	border-radius: 5px;
}
.btn{
	width: 100px !important;
	float: right !important;
	margin-left: 10px !important;
}
#menuclientes ul{
	padding-left: 0;
}
#menuclientes li{
	list-style-type: none;
	margin-top: 10px;
}
#menuclientes li a{
	text-decoration: none;
	color: #FFFFFF;
	margin-left: 10px;
}
.label {
    display: inline;
padding: .2em .6em .3em;
font-size: 75%;
font-weight: bold;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
background-color: #999;
  }
.label-activado {
background-color: #5cb85c;
}
.estado a, .estado a:hover, .estado a:active, .estado a:visited, 
.actions a, .actions a:hover, .actions a:active, .actions a:visited{
	text-decoration: none;
}  
.divider{
	width: 100%;
	height: 1px;
	background-color: #FFFFFF;
}
.divLabelL{
	clear: left;
}
.divLabelL, .divValueR{
	width: 200px;
	float: left;
	text-align: left;
	margin-top: 10px;
}

.divFull {
  width: 450px;
  float: left;
  text-align: left;
  margin: 10px auto 5px auto;
}
#datosclientes{
	width: 80%;
	margin: auto;
	background-color: #F5F5F5;
	border: 1px solid #A6A6A6;
	border-radius: 5px;
	clear: both;
	padding: 10px;

}
#editar-datos{
	clear: both;
}
.table tr:nth-child(even) {background: #F3F3F3 }
.table tr:nth-child(odd) {background: #E1E1E1}
.table tr:nth-child(even):hover{
	background: #EEEEEE;
}
.table tr:nth-child(odd):hover{
	background: #D7D7D7;
}
.table{
	padding: 0;
	width: 100%;
	margin: auto;
	background-color: #F5F5F5;
	border: 1px solid #A6A6A6;
	border-radius: 5px;
	clear: both;
	border-spacing: 0;
}
.table td, .table input{
	padding: 5px;
}
.table th{
	text-align: left;
	padding: 7px;
	background-color: #B9B9B9;
	border: 1px solid #818181;
}
.table th:last-of-type{
	text-align: center;
}
.table td img{
	margin: 3px;
	margin-right: 10px;
}
.table .actions{
	text-align: center;
}

.table-activa tr:nth-child(even) {background: #B4BFDC }
.table-activa tr:nth-child(odd) {background: #8E9ECA}
.table-activa tr:nth-child(even):hover{
	background: #C2CBE2;
}
.table-activa tr:nth-child(odd):hover{
	background: #7488BE;
}

#caracteristicas3 {
	width:100%;
	height:auto;
	margin-top:60px;
	position:relative;
}


#body-admin{
	/* max-width:959px; */
	min-width: 850px;
	margin: auto;
	margin-top: 2%;
	padding: 1%;
}
#header-admin{
	padding: 1%;
	padding-left: 5%;
	width: 93%;
	height: 5%
	text-align: left;
	font-size: 20px;
	-moz-box-shadow: inset 0 0 15px 0 #000;
-webkit-box-shadow: inset 0 0 15px 0 #000;
box-shadow: inset 0 0 15px 0 #000;
}
#panel{
	width: 90%;
	height: 450px;
	margin: auto;
	/*max-height: 300px;
	min-height: 300px;*/
	overflow: hidden;
	/*-moz-box-shadow:  0 0 15px 0 #FFF;
	-webkit-box-shadow:  0 0 15px 0 #FFF;
	box-shadow: 0 0 10px 0 #FFF;*/
	/* -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; */
		background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
#mesas{
	float: left;
	width: 20%;
	height: 450px;
	/*min-height: 300px;
	max-height: 300px;*/
	overflow-y: auto;
	border-right: 4px solid #7488BE;
}
#mesas .table{
	padding: 0;
	border-radius: 0;
	margin: 0;
}
#accionesYpedidos{
	float: left;
	width: 79%;
	min-height: 300px;
	max-height: 300px;
	overflow-y: auto;
}
#acciones{
	border-bottom: 4px solid #7488BE;
	padding-bottom: 2%;
}
#accionesYpedidos h4{
	text-align: left;
	padding: 7px;
	background-color: #B9B9B9;
	border: 1px solid #818181;
	margin: 0 !important;
	margin-bottom: 5px !important;
}
#accionesYpedidos button{
background-color: rgb(50, 118, 177);
border-bottom-color: rgb(40, 94, 142);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(40, 94, 142);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(40, 94, 142);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(40, 94, 142);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline-block;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
letter-spacing: normal;
line-height: 20px;
margin-bottom: 4px;
margin-left: 0px;
margin-right: 0px;
margin-top: 4px;
overflow-x: visible;
overflow-y: visible;
padding-bottom: 4px;
padding-left: 8px;
padding-right: 8px;
padding-top: 4px;
text-align: center;
text-decoration: none solid rgb(255, 255, 255);
vertical-align: middle;
width: 72px;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#accionesYpedidos button:hover{
	background-color: #265988;
}

#accionesYpedidos .cancel{
	background-color: #d9534f;
	border-color: #d43f3a;
}

#accionesYpedidos .cancel:hover{
	background-color: #FF5555;
}
#cerrarCuenta{
	background-color: #f0ad4e !important;
	border-color: #eea236 !important;
}
#cerrarCuenta:hover{
	background-color: #CE7D11 !important;
}
#acciones-pendientes-listado, #pedido-listado{
	padding-right: 3%;
	text-align: right;
}
#labelMesa{
	text-align: left;
	padding-left: 3%;
	font-weight: bold;
}
#lista-items li{
	margin-bottom: 1%;
	list-style-type: none;
}

/* estilos para cuando hay un pendiente */
.pendiente {
	background: url(../img/exclamation.png) no-repeat;
	background-position-x: 100px;
	background-size: 20px 20px;
	background-position-y: 5px;
}
#agregarPedido, #cerrarCuenta{
	width: 140px !important;
	margin-left: 20px !important;
}
#basic-modal-content, #modal-cuentaCerrada {
	display:none;
	overflow: hidden;
}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {height:300px; width:700px; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}
.contenedor-menu{
	background-color: none;
}



@media handheld, screen and (max-width:1274px) {
	header{
		height: 160px;
	}

}
@media handheld, screen and (min-width:640px) and (max-width:959px) {
	header {
	width:640px;
	height:160px;
	-webkit-box-shadow:0 0 2em #000000;
	-moz-box-shadow:0 0 2em #000000;
}
#carnet{
	width: 65%;
	}
#datosclientes{
	width: 90%;
}
#lateral_cabecera {
	width:450px;
	height:150px;
}
#titulo {
	width: 480px;
	float:right;
	top:120px;
	margin-top:0;
	position:relative;
	text-align:right;
	margin-right:1.5em;
}

#titulo h1 {
	font-size:1.2em;
	text-align:right;
}

#idioma {
	width: 400px;
	height: auto;
	float:right;
	font-size: 0.8em;
	position:relative;
	top:-50px;
	margin-right:1.5em;

}
nav{
	height: 30px;
	padding-bottom: 20px;
}
nav, #menu, .menu {
	width:610px;
	padding-left:20px;
}
#menu, .menu {
	padding-left:120px;
}
nav ul li a, #menu ul li a, .menu ul li a {
	font-size:0.9em;
	margin-right:0.5em;
	padding:0.6em;
	margin-top:0.6em;

}

.ocultar {
	display:none;
}

nav ul li a:hover {
	background-color:#FFF;
	border-radius:10px;
	color:#3a3a3a;
	padding-bottom:10px;
}

#contenedor, .contenedor {
	width:600px;
	padding:20px;
}
.contenedor{
	display: none;
	position:relative; 
	left:670px;
}
#beneficios {
	width:100%;
	height: auto;
	position:relative;
	top:20px;
}

#beneficios h2 {
	font-size:2em;
	
}

#beneficios h3 {
	font-size:1em;
}

.bene1, .bene2 {
	width:250px;
	height:270px;
	background-color:rgba(76,92,125,0.5);
	border-radius:10px;
	float:left;
	margin-top:30px;
	background-repeat:no-repeat;
	background-position:bottom center;
	padding: 15px;
	text-align:center; 
	line-height:20px;
	margin-bottom:20px;
}

.bene3 {
	width:435px;
	height:150px;
	float:none;
	background-position:left 20px;
	clear:left;
	padding: 15px 15px 15px 140px;
	text-align:center; 
	line-height:20px;
	margin-bottom:40px;
}

.bene1 {
	margin-right:30px;
}

.bene2 {
	margin-right:0;
}

	
#beneficios h4 {
	font-size:1em;
}	

#info {
	width: 590px;
	
}

#info h3 {
	font-size:1.1em;	
}

#imagenMenu {
	height:270px;
	background-image:url(../img/menu_solo_2.gif);
}

footer {
	width:640px;
	height:80px;
}

#logo2 {
	display:none;
	width:0;
}

#datos {
	font-size:0.8em;
	width:500px;
	height:68px;
	text-align:left;
}

#redes {
	width:130px;
	float:right;
	margin-top:20px;
	
}

#tituloseccion1 {
	width:480px;	
}

#tituloseccion1 h2 {
	font-weight:normal;
}
		
#iconoipad {
	width:100px;
	height:127px;
	background-image:url(../img/icono_ipad.png);
	position:absolute;
	left:840px;
	top:30px;
	z-index:5px;
}

#iconoipad1, #iconoipad2, #iconoipad3, #iconoipad4, #iconoipad5, #iconoipad6 {
	left:510px;
}


#caracteristicas {
	width:600px;
}

#caracteristicas2 {
	width:400px;
}

.icono2 {
	width:300px;
	height:304px;
	float:none;
	margin-right:auto;
	margin-left:auto;
	margin-top:20px;
}


.texto {
	width:500px;
}

.texto2 {
	width:600px;
	height:auto;
	margin-left:0;
	text-align:justify;
	
}

.texto3 {
	width:600px;
	height:auto;
	float:right;
}

.texto4 {
	width:600px;
	height:auto;
	float:none;
	margin-left:auto;
	margin-right:auto;
}
.texto5 {
	width:600px;
	height:auto;
	float:none;
}

.borrar {
	clear:both;
}

.texto h3, .mision h3, .valor h3 {
	color:#3a3a3a;
}

.texto3 h3 {
	color:#3a3a3a;
}

#imagenbeneficios {
	width:600px;
	height:115px;
	background-image:url(../img/imagen_beneficios2.jpg);
	margin-top:40px;
}

#imagendemo {
	width:600px;
	height:115px;
	background-image:url(../img/imagen_demo2.jpg);
	margin-top:40px;
}

#imagennosotros {
	width:600px;
	height:115px;
	background-image:url(../img/imagen_nosotros2.jpg);
}

#imagenproductos {
	width:600px;
	height:115px;
	background-image:url(../img/imagen_productos2.jpg);
	margin-top:40px;
}

#imagencontacto, #imagenusuario {
	display:none;
	width:0;
	height:0;
	background-image:none;
	float:none;
}


.mision, .vision, .valor {
	width:530px;
	height:180px;
	padding: 15px;
	float:none;
	margin-top:20px;
	text-align:center;
}

.vision {
	border-radius:10px;
	background-color:#3a3a3a;
	color:#FFF;
	margin-left:20px;
	margin-right:20px;
}


.texto_prod {
	width:380px;
	height:auto;
	float:right;
}

.texto_prod a, .texto5 a, .texto4 a, .info a {
	background-color:#3a3a3a;
	color:#FFF;
	text-decoration:none;
	font-size:12px;
	padding:5px;
	border-radius:5px;
}

.texto_prod a:hover, .texto5 a:hover, .texto4 a:hover, .info a:hover {
	background-color:#4f576c;
}

#formulario {
	width:600px;
	height:auto;
	float:none;
}

input[type=text], input[type=date], input[type=email], input[type=file], input[type=url], input[type=date], input[type=password], input[type=tel], input[type=button], input[type=submit], textarea, select {
	width:100%;
	margin-bottom:20px;
	background-color: #BFCEE6;
	border-radius:5px;
	border:0;
	padding:5px;
	
}
.envio {
	background-color:#3a3a3a !important;
	color:#FFF;
	cursor:pointer;
}

.datostelefono, .datosemail {
	width:450px;
	height:35px;
	padding-left:65px;
	padding-top:15px;
	background-repeat:no-repeat;
}

.datostelefono {
	margin-bottom:10px;
	background-image:url(../img/icon_telefono.jpg);
}

.datosemail {
	background-image:url(../img/icon_mail.jpg);
}

#imagenes_producto {
	width:200px;
	height:50px;
	margin:auto;
}

#imagenes_productos img {
	margin-right:10px;
}

#fondoipad {
	width:917px;
	height:1100px;
	background-image: none;
	padding-top:0;
	padding-left:0;
	overflow:visible;
	

}

}

@media handheld, screen and (max-width:639px) {
	#carnet{
	width: 365px;
	min-width: 365px;
	background-color: #FFFFFF;
	}
	#idioma ul li a{
		width: 24px;
		margin-left: 4px;
	}
	#idioma ul li a.esp {
	background-image:url(../img/Spain-32.png);
	background-size: 24px 24px;
	background-repeat: no-repeat;
	
}
#idioma ul li a.esp:hover {
	background-image:url(../img/Spain-32b.png);
	background-size: 24px 24px;
	background-repeat: no-repeat;
}
#idioma ul li a.ing {
	background-image:url(../img/United-Kingdom-32.png);
	background-size: 24px 24px;
	background-repeat: no-repeat;
}
#idioma ul li a.ing:hover {
	background-image:url(../img/United-Kingdom-32b.png);
	background-size: 24px 24px;
	background-repeat: no-repeat;
}
	header {
	width:90%;
	height:100px;
	-webkit-box-shadow:0 0 2em #000000;
	-moz-box-shadow:0 0 2em #000000;
}
#logoimg{
	width:120px;
	height:72px;
	background-image: url(../img/logo_color.jpg);
	background-size:120px 72px;
	margin-left: 10px;

}
#datosclientes{
	overflow: hidden;
	margin-left: 5%;
	/*width: 100%;*/
}
#lateral_cabecera {
	width:60%;
	height:auto;
	padding-top: 10px;
}
#titulo {
	width: 100%;
	float:none;
	top:50px;
	margin-top:0;
	position:relative;
	text-align:center;
	margin-right:0;
}

#titulo h1 {
	font-size:.9em;
	text-align:center;
}

#idioma {
	width: 100px;
	height: auto;
	float:right;
	font-size: 0.8em;
	position:relative;
	top:-40px;
	margin-right:0.8em;

}

#logo {
	height:90px;
	margin-left:auto;
	padding-top:20px;
	margin-right:auto;
	padding-top: 0;
}

.datos {
	display:none;
}

nav, #menu, .menu {
	width:90%;
	height:auto;
	padding-left:0;
}

nav ul li a {
	font-size:0.9em;
	margin-right:0;
	padding:3%;
	margin-top:0.4em;
	margin-bottom:0.4em;
	float:none;
	width:94%;
	background-color:rgba(200,200,200,0.8);
	border-radius:0.8em;
	text-align:center;

}
nav{
	clear: both;
}
#menu ul li a, .menu ul li a{
	font-size:0.9em;
	margin-right:0;
	padding:3%;
	margin-top:0.4em;
	margin-bottom:0.4em;
	float:none;
	width:94%;
	border-radius:0.8em;
	text-align:center;
}
.ocultar  {
	display:none;
}
.ocultarmob  {
	display:none;
}
nav ul li a:hover {
	background-color:#FFF;
	border-radius:0.8em;
	color:#3a3a3a;
	padding-bottom:3%;
}
#menu ul li a:hover, .menu ul li a:hover{
	padding-bottom:3%;
}
#contenedor, .contenedor {
	width:84%;
	padding:3%;
}
.contenedor{
	display: none;
	position:relative; 
	left:670px;
	/*padding-left: 0px;*/
}

#beneficios {
	width:100%;
	height: auto;
	position:relative;
	top:1.5em;
}

#beneficios h2 {
	font-size:1em;
	
}

#beneficios h3 {
	font-size:0.8em;
}

.bene1, .bene2, .bene3 {
	width:90%;
	height:auto;
	background-color:rgba(76,92,125,0.5);
	border-radius:0.8em;
	float:none;
	margin-top:2em;
	background-repeat:no-repeat;
	background-position:bottom center;
	padding: 5% 5% 160px 5%;
	text-align:center; 
	line-height:1.2em;
	margin-bottom:1.3em;
	margin-right:0;
}



	
#beneficios h4 {
	font-size:1em;
}	

#info {
	width: 90%;
	margin-top:2.3em;
	
}

#info h3 {
	font-size:1.1em;	
}

#imagenMenu {
	display:none;
	height:270px;
	background-image:url(../img/menu_solo_2.gif);
}

footer {
	width:90%;
	height:auto;
}

#logo2 {
	display:none;
	width:0;
}

#datos {
	font-size:0.7em;
	width:100%;
	height:68px;
	text-align:center;
}

#redes {
	display:none;
	width:130px;
	float:right;
	margin-top:20px;
	
}

#tituloseccion1 {
	width:90%;	
	padding-right:10%;
	margin-top: 10px;
}

#tituloseccion1 h2 {
	font-weight:normal;
	font-size:1.2em;
}
		
#iconoipad, #iconoipad1, #iconoipad2, #iconoipad3, #iconoipad4, #iconoipad5, #iconoipad6  {
	display:none;

}



#caracteristicas {
	width:70%;
}

#caracteristicas2 {
	width:400px;
}
#caracteristicas3 {
	width: 90%;
	margin-top: 10px;
}
.icono {
	float:none;
	margin-right:0;
	margin-top:20px;
}
.icono2 {
	width:auto;
	height:auto;
	float:none;
	margin-right:auto;
	margin-left:auto;
	margin-top:20px;
}

.icono2 img {
	width:90%;
}

.texto {
	width:100%;
	float:none;
}

.texto2 {
	width:100%;
	height:auto;
	margin-left:0;
	text-align:center;
	
}

.texto3 {
	width:100%;
	height:auto;
	float:none;
}

.texto4 {
	width:100%;
	height:auto;
	float:none;
	margin-left:auto;
	margin-right:auto;
}
.texto5 {
	width:100%;
	height:auto;
	float:none;
}

.borrar {
	clear:both;
}

.texto h3, .mision h3, .valor h3 {
	color:#3a3a3a;
}

.texto3 h3 {
	color:#3a3a3a;
}

#imagenbeneficios, #imagendemo, #imagennosotros, #imagenproductos, #imagencontacto, #imagenusuario {
	display:none;
}



.mision, .vision, .valor {
	width:90%;
	height:auto;
	padding:5%;
	float:none;
	margin-top:20px;
	text-align:center;
}

.vision {
	border-radius:0.8em;
	background-color:#3a3a3a;
	color:#FFF;
	margin-left:auto;
	margin-right:auto;
}


.icono_productos {
	width:150px;
	height:150px;
	float:none;
	margin-right:auto;
	margin-left:auto;
	margin-top:20px;
	border-radius:1em;
	border:1px solid #666;
	padding:1.4em;
}

.texto_prod {
	width:100%;
	height:auto;
	float:none;
	margin-right:auto;
	margin-left:auto;	
}

.texto_prod a, .texto5 a, .texto4 a, .info a {
	background-color:#3a3a3a;
	color:#FFF;
	text-decoration:none;
	font-size:12px;
	padding:5px;
	border-radius:5px;
}

.texto_prod a:hover, .texto5 a:hover, .texto4 a:hover, .info a:hover {
	background-color:#4f576c;
}

#formulario {
	width:100%;
	height:auto;
	float:none;
}

input[type=text], input[type=date], input[type=email], input[type=file], input[type=url], input[type=password], input[type=tel], input[type=button], input[type=submit], textarea, select {
	width:100%;
	margin-bottom:20px;
	background-color: #BFCEE6;
	border-radius:5px;
	border:0;
	padding:5px;
	
}
.envio {
	background-color:#3a3a3a !important;
	color:#FFF;
	cursor:pointer;
}

.datostelefono, .datosemail {
	display:none;
}

#imagenes_producto {
	width:200px;
	height:50px;
	margin:auto;
}

#imagenes_productos img {
	margin-right:10px;
}

#fondoipad {
	width:917px;
	height:1100px;
	background-image: none;
	padding-top:0;
	padding-left:0;
	overflow:visible;

}
.espacio_botonera {
	margin-left:0;
}
.divLabelL, .divValueR{
	width: auto;
	}
@media handheld, screen and (max-width:580px) {
	#lateral_cabecera{
		width: 65%;
	}
}
@media handheld, screen and (max-width:506px) {
	#titulo{
		display: none;
	}
	#idioma{
		top: -10px;
	}
}
@media handheld, screen and (max-width:492px) {
	#lateral_cabecera{
		width: 35%;
	}
}
@media handheld, screen and (max-width:272px) {
	#lateral_cabecera{
		width: 25%;
	}
	body{
		margin-left: 0;
	}
}

